In [3]:
import pandas as pd
Raw_Housing_Data= pd.read_csv("1. Regression - Module - (Housing Prices).csv")
Raw_Housing_Data

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,None,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,None,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,None,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,None,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,None,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,14 May 2017,360000.0,3,2.50,1530.0,1131.0,3.0,No,None,...,8,1530.0,0,9,0,98103.0,47.6993,-122.346,1530.0,1509
21609,6600060120,15 February 2016,400000.0,4,2.50,2310.0,5813.0,2.0,No,None,...,8,2310.0,0,4,0,98146.0,47.5107,-122.362,1830.0,7200
21610,1523300141,14 June 2017,402101.0,2,0.75,1020.0,1350.0,2.0,No,None,...,7,1020.0,0,9,0,98144.0,47.5944,-122.299,1020.0,2007
21611,291310100,15 January 2016,400000.0,3,2.50,1600.0,2388.0,2.0,No,None,...,8,1600.0,0,14,0,98027.0,47.5345,-122.069,1410.0,1287
21612,1523300157,14 October 2017,325000.0,2,0.75,1020.0,1076.0,2.0,No,None,...,7,1020.0,0,10,0,98144.0,47.5941,-122.299,1020.0,1357

In [4]:
#Sale Price is the dependent Variable
#Other variable are independent variable

In [6]:
#Data Types for all the variables
Raw_Housing_Data.dtypes

ID                                             int64
Date House was Sold                           object
Sale Price                                   float64
No of Bedrooms                                 int64
No of Bathrooms                              float64
Flat Area (in Sqft)                          float64
Lot Area (in Sqft)                           float64
No of Floors                                 float64
Waterfront View                               object
No of Times Visited                           object
Condition of the House                        object
Overall Grade                                  int64
Area of the House from Basement (in Sqft)    float64
Basement Area (in Sqft)                        int64
Age of House (in Years)                        int64
Renovated Year                                 int64
Zipcode                                      float64
Latitude                                     float64
Longitude                                    float64
Living Area after Renovation (in Sqft)       float64
Lot Area after Renovation (in Sqft)            int64
dtype: object

In [7]:
#Top few rows of the dataset
Raw_Housing_Data.head(15)

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,None,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,None,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,None,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,None,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,None,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503
5,7237550310,14 May 2017,1230000.0,4,4.50,5420.0,101930.0,1.0,No,None,...,10,3890.0,1530,17,0,98053.0,47.6561,-122.005,4760.0,101930
6,1321400060,14 June 2017,257500.0,3,2.25,1715.0,6819.0,2.0,No,None,...,7,1715.0,0,23,0,98003.0,47.3097,-122.327,2238.0,6819
7,2008000270,15 January 2016,291850.0,3,1.50,1060.0,9711.0,1.0,No,None,...,7,1060.0,0,55,0,98198.0,47.4095,-122.315,1650.0,9711
8,2414600126,15 April 2016,229500.0,3,1.00,1780.0,7470.0,1.0,No,None,...,7,1050.0,730,58,0,98146.0,47.5123,-122.337,1780.0,8113
9,3793500160,15 March 2016,323000.0,3,2.50,1890.0,6560.0,2.0,No,None,...,7,1890.0,0,15,0,98038.0,47.3684,-122.031,2390.0,7570
10,1736800520,15 April 2016,662500.0,3,2.50,3560.0,9796.0,1.0,No,None,...,8,1860.0,1700,53,0,98007.0,47.6007,-122.145,2210.0,8925
11,9212900260,14 May 2017,468000.0,2,1.00,1160.0,6000.0,1.0,No,None,...,7,860.0,300,76,0,98115.0,47.6900,-122.292,1330.0,6000
12,114101516,14 May 2017,310000.0,3,1.00,1430.0,19901.0,1.5,No,None,...,7,1430.0,0,91,0,98028.0,47.7558,-122.229,1780.0,12697
13,6054650070,14 October 2017,400000.0,3,1.75,1370.0,9680.0,1.0,No,None,...,7,1370.0,0,41,0,98074.0,47.6127,-122.045,1370.0,10208
14,1175000570,15 March 2016,530000.0,5,2.00,1810.0,4850.0,1.5,No,None,...,7,1810.0,0,118,0,98107.0,47.6700,-122.394,1360.0,4850

In [8]:
#Bottom few rows of the dataset
Raw_Housing_Data.tail(15)

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
21598,8956200760,14 October 2017,541800.0,4,2.50,3118.0,7866.0,2.0,No,Twice,...,9,3118.0,0,4,0,98001.0,47.2931,-122.264,2673.0,6500
21599,7202300110,14 September 2017,810000.0,4,3.00,3990.0,7838.0,2.0,No,None,...,9,3990.0,0,15,0,98053.0,47.6857,-122.046,3370.0,6814
21600,249000205,14 October 2017,1540000.0,5,3.75,4470.0,8088.0,2.0,No,None,...,10,4470.0,0,10,0,98004.0,47.6321,-122.200,2780.0,8964
21601,5100403806,15 April 2016,467000.0,3,2.50,1425.0,1179.0,3.0,No,None,...,8,1425.0,0,10,0,98125.0,47.6963,-122.318,1285.0,1253
21602,844000965,14 June 2017,224000.0,3,1.75,1500.0,11968.0,1.0,No,None,...,6,1500.0,0,4,0,98010.0,47.3095,-122.002,1320.0,11303
21603,7852140040,14 August 2017,507250.0,3,2.50,2270.0,5536.0,2.0,No,None,...,8,2270.0,0,15,0,98065.0,47.5389,-121.881,2270.0,5731
21604,9834201367,15 January 2016,429000.0,3,2.00,1490.0,1126.0,3.0,No,None,...,8,1490.0,0,4,0,98144.0,47.5699,-122.288,1400.0,1230
21605,3448900210,14 October 2017,610685.0,4,2.50,2520.0,6023.0,2.0,No,None,...,9,2520.0,0,4,0,98056.0,47.5137,-122.167,2520.0,6023
21606,7936000429,15 March 2016,1010000.0,4,3.50,3510.0,7200.0,2.0,No,None,...,9,2600.0,910,9,0,98136.0,47.5537,-122.398,2050.0,6200
21607,2997800021,15 February 2016,475000.0,3,2.50,1310.0,1294.0,2.0,No,None,...,8,1180.0,130,10,0,98116.0,47.5773,-122.409,1330.0,1265
21608,263000018,14 May 2017,360000.0,3,2.50,1530.0,1131.0,3.0,No,None,...,8,1530.0,0,9,0,98103.0,47.6993,-122.346,1530.0,1509
21609,6600060120,15 February 2016,400000.0,4,2.50,2310.0,5813.0,2.0,No,None,...,8,2310.0,0,4,0,98146.0,47.5107,-122.362,1830.0,7200
21610,1523300141,14 June 2017,402101.0,2,0.75,1020.0,1350.0,2.0,No,None,...,7,1020.0,0,9,0,98144.0,47.5944,-122.299,1020.0,2007
21611,291310100,15 January 2016,400000.0,3,2.50,1600.0,2388.0,2.0,No,None,...,8,1600.0,0,14,0,98027.0,47.5345,-122.069,1410.0,1287
21612,1523300157,14 October 2017,325000.0,2,0.75,1020.0,1076.0,2.0,No,None,...,7,1020.0,0,10,0,98144.0,47.5941,-122.299,1020.0,1357